<!--Navbar -->
<nav class="mb-1 navbar navbar-expand-lg navbar-dark blue">
    <a class="navbar-brand" href="#"><h3>KimaZon</h3></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-1333"
            aria-controls="navbarSupportedContent-333" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent-1333">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Manual</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Products</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-31313" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">Dropdown
                </a>
                <div class="dropdown-menu dropdown-default" aria-labelledby="navbarDropdownMenuLink-31313">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>
            <li class="nav-item">
                <form class="form-inline waves-light" mdbWavesEffect>
                    <div class="md-form mt-0">
                        <input class="form-control mr-sm-7" type="text" placeholder="Search">
                    </div>
                </form>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto nav-flex-icons">
            <li class="nav-item dropdown home-menu-profile" *ngIf="_utilService.isLoggedIn(); else notLoggedIn">
                <a class="nav-link dropdown-toggle " id="navbarDropdownMenuLink-3331" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-user"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right dropdown-default profile-submenu"
                     aria-labelledby="navbarDropdownMenuLink-3331">
                    <a class="dropdown-item" [routerLink]="['/public/profile']">Profile</a>
                    <a class="dropdown-item" [routerLink]="['/public/password-change']">Change Password</a>
                    <a class="dropdown-item" (click)="logout()">>Logout</a>
                </div>
            </li>
            <ng-template #notLoggedIn>
                <li class="nav-item waves-light" mdbWavesEffect [routerLink]="['auth/register']">
                    <a class="nav-link">Register</a>
                </li>
                <li class="nav-item waves-light" mdbWavesEffect [routerLink]="['auth/login']">
                    <a class="nav-link">Login</a>
                </li>
            </ng-template>
            <li>
                <i class="fas fa-shopping-cart fa-2x white-text ml-3" aria-hidden="true"></i>
            </li>
        </ul>
    </div>
</nav>


<!--/.Navbar -->


<!--<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark blue ie-nav fixed-top" [containerInside]="false">-->
<!--  <mdb-navbar-brand>-->
<!--    <a class="logo navbar-brand" href="#"><strong>KimaZon</strong></a>-->
<!--  </mdb-navbar-brand>-->
<!--  <links>-->
<!--    <ul class="navbar-nav mr-auto">-->
<!--      <li class="nav-item active waves-light" mdbWavesEffect>-->
<!--        <a class="nav-link">Home <span class="sr-only">(current)</span></a>-->
<!--      </li>-->
<!--      <li class="nav-item waves-light" mdbWavesEffect>-->
<!--        <a class="nav-link">Features</a>-->
<!--      </li>-->
<!--      <li class="nav-item waves-light" mdbWavesEffect>-->
<!--        <a class="nav-link">Pricing</a>-->
<!--      </li>-->
<!--      <li class="nav-item waves-light" mdbWavesEffect>-->
<!--        <a class="nav-link">Opinions</a>-->
<!--      </li>-->
<!--    </ul>-->
<!--    <ul class="navbar-nav nav-flex-icons">-->
<!--      <li class="nav-item waves-light" mdbWavesEffect [routerLink]="['auth/register']">-->
<!--        <a class="nav-link">Register</a>-->
<!--      </li>-->
<!--    </ul>-->
<!--  </links>-->
<!--</mdb-navbar>-->
<!-- Main -->
<main>
    <router-outlet></router-outlet>

</main>


